<!DOCTYPE html>
<html lang="en">
  <head>
    <title>XML Validation</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="text-muted">XML Validation</h1>
      </div>
      <hr/>
      <div class="row">
        <p>Use our XML validator to check your XML file. We will check if your file (1) contains valid XML and (2) complies with our XML schema.</p>
      <hr/>
      </div>
      <div class="row">
        <form action="upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file"><br /><br />
          <input type="submit" value="Validate">
        </form>
      </div>
    </div>
  </body>
</html>
